



{% extends "layouts/master.html.twig" %}

{% block header %}
{% endblock %}

{% block content %}


<head>

  <title></title>
  <link rel="stylesheet" type="text/css" href="public/css/main.css">

</head>
<body>

<header>
    <nav>
        <div class="main-wrapper">
<ul>
    <li><a href="rooms.php">Izlaz iz sobe</a></li>
    <li><a href="login.php">Odjava</a></li>
</ul>

        </div>
    </nav>
</header>

<section>
</section>

</header>



{% endblock %}

{% block footer %}
{% endblock %}

