<!DOCTYPE html>
<html>
<head>

  <title></title>
  <script src="js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.32.2/dist/sweetalert2.all.min.js"></script>
  <script src="public/js/lib/swalSweetAlert.js"></script>
  <link rel="stylesheet" type="text/css" href="public/css/main.css">

</head>
<body>

<header>
    <nav>
        <div class="main-wrapper">
          <div class="nav-login">
              <form>
                    <input type="text" name="uid" placeholder="username" required>
                    <input type="password" name="pwd" placeholder="lozinka" required>
                    <button type="submit" name="submit">Prijava</button>

              </form>

          </div>

        </div>

    </nav>
</header>

<section class="main-container">
  <div class="main-wrapper">
      <h2>Registracija</h2>
      <form class="signup-form" action="index.inc.php" method="post">
          <input type="text" name="first" placeholder="Ime" id="name"required>
          <input type="text" name="last" placeholder="Prezime" id="surname" required>
          <input type="text" name="uid" placeholder="Username" id="username" required>
          <input type="password" name="pwd" placeholder="Lozinka" id="password" required>
          <button onclick="validation()" type="submit" name="submit">Registriraj se</button>
      </form>
  </div>
</section>

</body>




</html>
