


{% extends "layouts/master.html.twig" %}

{% block header %}
{% endblock %}

{% block content %}

<head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/lib/swal.css">

  <link rel="stylesheet" type="text/css" href="public/css/main.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>


<body>
<header>
    <nav>
        <div class="main-wrapper">

          <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Korisničko ime">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="password" placeholder="Lozinka">
                    </div>
                    <button type="submit" class="btn btn-success">Prijava</button>
                </form>

        </div>

    </nav>
</header>

<section class="main-container">
  <div class="center-wrapper"><br><br><br><br><br>
  <div class="card">
  <header class="card-header">

    <h2 align="center">Registracija</h2><br>
</header>

      <form class="signup-form" action="index.inc.php" method="post">
      <br>
           <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input class="form-control input-md" type="text" name="first" placeholder="Ime" id="name"required>
           </div><br>
           <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input class="form-control input-md" type="text" name="last" placeholder="Prezime" id="surname" required>
           </div><br>
           <div class="input-group">
               <span class="input-group-addon"><i class="fa fa-user-secret fa" aria-hidden="true"></i></span>
               <input class="form-control input-md" type="text" name="uid" placeholder="Korisničko ime" id="username" required>
           </div><br>
           <div class="input-group">
               <span class="input-group-addon"><i class="fa fa-key fa" aria-hidden="true"></i></span>
               <input class="form-control input-md" type="password" name="pwd" placeholder="Lozinka" id="password" required>
           </div>
<br>       <div align="center">
  <div class="form-group">
           <button class="btn btn-success btn-block" onclick="validation()" type="submit" name="submit">Registriraj se</button>
             </div><br>
           </div>
      </form>
      <br><br>
      </div>
    </div>
</section>


</body>




{% endblock %}

{% block footer %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.32.2/dist/sweetalert2.all.min.js"></script>
{% endblock %}
