


{% extends "layouts/master.html.twig" %}

{% block header %}
{% endblock %}

{% block content %}


<header>
    <nav>
        <div class="main-wrapper">
          <div class="nav-login">
              <form>
                    <input type="text" name="uid" placeholder="username" required>
                    <input type="password" name="pwd" placeholder="lozinka" required>
                    <button class="btn btn-success" type="submit" name="submit">Prijava</button>

              </form>

          </div>

        </div>

    </nav>
</header>

<section class="main-container">
  <div class="main-wrapper">
      <h2>Registracija</h2>
      <form class="signup-form" action="index.inc.php" method="post">

         <div class="controls">
    
           <input class="input-xlarge" type="text" name="first" placeholder="Ime" id="name"required>
        </div>

        <div class="controls">
               <input class="input-xlarge" type="text" name="last" placeholder="Prezime" id="surname" required>
             
        </div>

        <div class="controls">
               <input class="input-xlarge" type="text" name="uid" placeholder="Username" id="username" required>   
         
         </div>

        <div class="controls">
                 <input class="input-xlarge" type="password" name="pwd" placeholder="Lozinka" id="password" required>
             
         </div>
 
          <button class="btn btn-success" onclick="validation()" type="submit" name="submit">Registriraj se</button>
      </form>
  </div>
</section>





{% endblock %}

{% block footer %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.32.2/dist/sweetalert2.all.min.js"></script>
{% endblock %}

