{% extends "layouts/master.html.twig" %}

{% block header %}
{% endblock %}

{% block content %}
<head>




  <link rel="stylesheet" type="text/css" href="public/css/main.css">
</head>

<body>

<div class="container">
<br/>
<div class="pdiv1">
  <h1>NAVIA</h1>
  </div>
  <div class="pdiv2">Ime Prezime</div>
  <br/>
  <hr/>
  <div class="pdiv1">
    <h1>Soba [neki idSobe] (datum?)</h1>
  </div><br/><hr/>
  <div class="row">

    <div class="col-md-4 ">
      <div class="alert alert-info">Raspoloženja</div>
    </div>

    <div class="col-md-4">
      <div class="alert alert-danger">? Pitanja ?</div>
      <p>Ak sad tu pišem neki veeeeeeeeeeeeeeeeeeliki tekst onda to izgleda kak? aaaaaaaaa aaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaa aaaaaaaaaaa</p>
    </div>

    <div class="col-md-4">
      <div class="alert alert-success">Komentari</div>
    </div>

  </div>

</body>



{% endblock %}

{% block footer %}

    <script>
    </script>

{% endblock %}
