{% extends "layouts/master.html.twig" %}

{% block header %}

    <!-- kaj od toga je potrebno?? -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

{% endblock %}

{% block content %}


<div class="container">
<br/>
<div class="pdiv1">
  <h1>NAVIA</h1>
  </div>
  <div id="my-name-div" class="pdiv2"> {{ name }}</div>
  <br/>
  <hr/>
    <form method="post" action="room-create.php">
        Kreiraj novu sobu
        <input name="room-name" required placeholder="Opis sobe">
        <input type="submit" class="button btn-primary">
    </form>
    Moje sobe:
    <ul>
        {% for room in rooms %}
            <li><a href="room.php?id={{ room.id }}">Room {{ room.key }} ({{ room.time }})</a></li>
        {% endfor %}
    </ul>

{% endblock %}

{% block footer %}
{% endblock %}
