{% extends "layouts/master.html.twig" %}

{% block header %}
{% endblock %}

{% block content %}
<head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="public/css/main.css">
</head>

<body>

<div class="container">
<br/>
<div class="pdiv1">
  <h1>NAVIA</h1>
  </div>
  <div class="pdiv2">Ime Prezime</div>
  <br/>
  <hr/>
  <div class="pdiv1">
    <h1>Soba [neki idSobe] (datum?)</h1>
  </div><br/><hr/>
  <div class="row">

    <div class="col-md-4 " align="center">
    <i class="fa fa-smile-o fa-5x"></i>
      <div class="alert alert-info">RASPOLOŽENJA</div>

      <div id="chart"></div>

    </div>

    <div class="col-md-4" align="center">
      <i class="fa fa-question-circle-o fa-5x"></i>
      <div class="alert alert-danger">PITANJA </div>
      <p>Ak sad tu pišem neki veeeeeeeeeeeeeeeeeeliki tekst onda to izgleda kak? aaaaaaaaa aaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaa aaaaaaaaaaa</p>
    </div>

    <div class="col-md-4" align="center">
    <i class="fa fa-commenting-o fa-5x"></i>
      <div class="alert alert-success">KOMENTARI</div>
    </div>

  </div>

</body>



{% endblock %}

{% block footer %}

<script>

  $("#razlog-submit").on("click", function(){

var donut_chart = Morris.Donut({
 element: 'chart',
 data: <?php echo $data; ?>
});

$('#like_form').on('submit', function(event){
event.preventDefault();
var checked = $('input[name=emotion]:checked', '#like_form').val();
if(checked == undefined)
{
alert("Molim odaberite neku od emocija!");
return false;
}
else
{
var form_data = $(this).serialize();
$.ajax({
url:"action.php",
method:"POST",
data:form_data,
dataType:"json",
success:function(data)
{
 $('#like_form')[0].reset();
 donut_chart.setData(data);
}
});
}
});
});

</script>

{% endblock %}
