{% extends "layouts/master.html.twig" %}

{% block header %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

{% endblock %}

{% block content %}

<div class="container-fluid">


  {% include 'layouts/teacher-navbar.html.twig' %}


  <div class="row">

    <div class="col-md-4 " style="font-size:40px" align="center" id="raspolozenja">
    <i class="fa fa-smile-o fa-5x"  style="font-size:150px"></i>
      <div class="alert alert-info" style="font-size:50px">RASPOLOŽENJA</div>

      <div id="chart"></div>

    </div>

    <div class="col-md-4" style="font-size:40px" align="center">
      <i class="fa fa-question-circle-o fa-5x"  style="font-size:150px"></i>
      <div class="alert alert-danger" style="font-size:50px">PITANJA </div>
      <div id="pitanja"></div>
    </div>

    <div class="col-md-4" align="center" style="font-size:40px">
    <i class="fa fa-commenting-o fa-5x" style="font-size:150px"></i>
      <div class="alert alert-success" style="font-size:50px">KOMENTARI</div>
      <div id="komentari"></div>
    </div>


</div>


{% endblock %}

{% block footer %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="public/js/room-teacher.js"></script>

{% endblock %}
