{% extends "layouts/master.html.twig" %}

{% block header %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css"/>
    <link rel="stylesheet" type="text/css" href="public/css/student.css">

{% endblock %}

{% block content %}
<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {
          packages: ['corechart'],
          callback: drawChart
      });

      // Set a callback to run when the Google Visualization API is loaded.
    //  google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();


        var data = new google.visualization.DataTable({
              cols: [
                { label: 'Raspolozenja', type: 'string' },
                { label: 'Ljudi', type: 'number' }
              ]
          });

      //  data.addColumn('string', 'Raspolozenja');
        //data.addColumn('number', 'Ljudi');
        // get html table rows
        var raspolozenja = document.getElementById('proba');

        Array.prototype.forEach.call(raspolozenja.rows, function(row) {
    // exclude column heading
            if (row.rowIndex > 0) {
                data.addRow([
          { v: (row.cells[0].textContent || row.cells[0].innerHTML).trim() },
          { v: 1 }
        ]);
      }
      });

  var dataSummary = google.visualization.data.group(
    data,
    [0],
    [{'column': 1, 'aggregation': google.visualization.data.sum, 'type': 'number'}]
  );


        var sretni=0;
        var neutralni=0;
        var losi=0;
        var test ={{ room.moods|json_encode|raw }};
        for (var mood in raspolozenja) {
          switch(mood) {
              case 1:
                  sretni++;
                  break;
              case 2:
                  neutralni++;
                  break;
              case 3:
                  losi++;
                  break;
              default:
            }
          }

          //data.addRows([['Sretno',7],['Neutralno',3],['Loše',4]]);
          data.addRows([['Sretno', sretni],['Neutralno', neutralni],['Loše', losi]]);

          // Set chart options
        var options = {'title':'Raspoloženja',
                       'width':700,
                       'height':500,
                       'colors': ['#5cb85c', '#f0ad4e', '#d9534f']};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(dataSummary, options);
      }
    </script>
  </head>

  <body>
    <!--Div that will hold the pie chart-->
    <h2>Raspoloženja</h2>
    <div id="chart_div"></div>
    <div id="test" data-is-test="{{ room.moods|json_encode }}"></div>
    <table id="proba" hidden>
      <ul>
        {% for mood in room.moods %}
        <tr><td>
          {{ mood.mood_option_id }}
        </td></tr>
        {% endfor %}
     </ul>
   </table>
  </body>

{% endblock %}

{% block footer %}

{% endblock %}
