<!DOCTYPE html>
<html>
<head>

  <title></title>
  <link rel="stylesheet" type="text/css" href="public/css/main.css">
</head>
<body>



<section class="main-container">
  <div class="main-wrapper">
      <h3>Pitanje</h3>
      <form class="question-form" action="" method="post">
          <input type="text" name="question" placeholder="Pitanje">
          <button type="submit" name="submit">Pošalji</button>
      </form>

      <h3>Komentar</h3>
      <form class="question-form" action="" method="post">
          <input type="text" name="comment" placeholder="Komentar">
          <button type="submit" name="submit">Pošalji</button>
      </form>
  </div>
</section>

</body>




</html>
