{% extends "layouts/master.html.twig" %}

{% block header %}
{% endblock %}

{% block content %}

    <br/>

    <label>Razlog mog raspoloženja:</label>
    <br/><br/>
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="btn1" name="razlozi" checked>
      <label class="custom-control-label" for="digresije">Profesor ima digresije</label>
    </div>

    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="btn2" name="razlozi">
      <label class="custom-control-label" for="nekiRazlog">Neki razlog</label>
    </div>

    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="btn3" name="razlozi">
      <label class="custom-control-label" for="osobniRazlog">Osobni razlog</label>
    </div>

    <br/>
    <form>

      <div class="form-group">
        <label for="question">Pitanje</label>
        <input type="textarea" class="form-control" id="studentQuestion" placeholder="Upiši pitanje">
      </div><button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <form>
      <div class="form-group">
        <label for="comment">Komentar</label>
        <input type="textarea" class="form-control" id="studentComment" placeholder="Upiši komentar">
      </div><button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}

{% block footer %}
{% endblock %}
