{% extends "layouts/master.html.twig" %}

{% block header %}
{% endblock %}

{% block content %}

<section>
<div class="container">
  <div class="col-md-6 col-md-offset-3">
  <div class="row">
       <div class="row">


           <div class="col-lg-6">
               <div class="input-group">
                   <span class="input-group-addon beautiful">
                       <input type="radio">
                   </span>
                   <input type="text" class="form-control">
               </div>
           </div>
       </div>

   </div>
</div>
</div>
</section>

<section>
<div class="container">
<div class="row">
<div class="col-md-6 col-md-offset-3">

   <div class="well">
          <div class="input-group">
             <input class="btn btn-lg" name="question" id="questionInput" type="textfield" placeholder="Pitanje">
             <button id="pitanje-submit" class="btn btn-info btn-lg">Submit</button>
          </div>
         <br/>
          <div class="input-group">
             <input class="btn btn-lg" name="comment" id="commentInput" type="textfield" placeholder="Komentar">
             <button id="komentar-submit" class="btn btn-info btn-lg">Submit</button>
          </div>

          <ul id="objavljeni-komentari">
          </ul>
   </div>
</div>
</div>
</div>
</section>

{% endblock %}

{% block footer %}

    <script>
        $("#komentar-submit").on("click", function() {
            var serializedData = {
                "comment": $("#commentInput").val(),
                "signature": "ajax_student",
                "room_id": 1,
            };
            $.post("./php-api/comment-add.php", serializedData)
                .done(function(data) {
                    console.log(data);
                    if (data.success) {
                        $("#objavljeni-komentari").append( $("li").append(data.comment) );
                    } else {
                        alert(data.error);
                    }
                });
        });
    </script>

{% endblock %}
