<!DOCTYPE html>
<html>
    <head>
        <title>Navia</title>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale = 0.9, user-scalable=no" />

        <link rel="stylesheet" href="public/css/main.css">
        <link href="public/css/lib/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
