<!DOCTYPE html>
<html>
    <head>
        <title>Navia</title>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale = 0.9, user-scalable=no" />

        {% block header %}
        {% endblock %}

        <link href="public/css/lib/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="public/css/main.css">
    </head>
    <body>


<header>
<nav>
<div class="container">
<div class="navbar-header">
    <div class="navbar-brand" style="font-size:30px">
        Navia
        {% if room %}
        - {{ room.key }}
        {% endif %}
    </div>
</div>

{% if room %}
<ul class="nav navbar-nav navbar-right" name="gumbici">
    <li>
        <div class="navbar-brand">
            <i class="fa fa-user fa" aria-hidden="true" style="font-size:30px"></i>    {{name}}
        </div>
    </li>

    <a class="btn btn-warning" href="profesor.php" role="button" style="font-size:25px">Sobe</a>
    <a class="btn btn-danger" href="login.php" role="button" style="font-size:25px">Logout</a>
</ul>

{% elseif name %}
<ul class="nav navbar-nav navbar-right" name="gumbici">
    <li>
        <div class="navbar-brand">
            <i class="fa fa-user fa" aria-hidden="true" style="font-size:30px"></i>    {{name}}
        </div>
    </li>

    <a class="btn btn-danger" href="login.php" role="button"  style="font-size:25px">Logout</a>
</ul>

{% else %}
<form class="navbar-form navbar-right" role="search" action="login.php" method="post">
    <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="KorisniÄko ime" value="{{ username ? username : "" }}" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Lozinka" required>
    </div>
    <button type="submit" class="btn btn-success">Login</button>
</form>

{% endif %}

</div>
</nav>
</header>





        {% block content %}
        {% endblock %}

        <script src="public/js/lib/jquery-1.11.2.min.js"></script>
        <script src="public/js/lib/bootstrap.min.js"></script>
        <script src="public/js/main.js"></script>
        {% block footer %}
        {% endblock %}

    </body>
</html>
